{
  "bootstrap_servers": "10.53.16.49:9092",
  "topic": "pc-guardian-configs",
  "security_protocol": "PLAINTEXT",
  "ssl_cafile": null,
  "ssl_certfile": null,
  "ssl_keyfile": null,
  "sasl_mechanism": null,
  "sasl_username": null,
  "sasl_password": null,
  "update_topic": "pc-guardian-updates",
  "update_server_url": "http://your-update-server:8000/updates",
  "update_check_interval": 3600
}

